{
  "presets": [
    ["env", {
      "useBuiltIns": true
    }],
    "stage-0"
  ],
  "plugins": [
    "transform-runtime"
  ],
  "env": {
    "production": {
      "presets": [
        ["minify", {
          "removeConsole": true,
          "removeDebugger": true
        }]
      ]
    }
  }
}